/* the list of genres, etc you can listen to. Should be its own scroller so swipe up to player works. */
.Home {
  color: white;
  text-align: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-align: start;
  z-index: -1;
  box-sizing: border-box;
  padding-bottom:80px;
}

/* Provides scrolling between home and player */
.Home-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100% - 1px);
  overflow-y: auto;
  scroll-snap-type: y mandatory;
}

.user-info {
  text-align: right;   
}

.profile-photo {
  width: 30px;
  height: 30px;
  padding: 0px 20px;
  border-radius: 50%;
}

.exit-button {
  width: 30px;
  height: 30px;
  padding-right: 20px;
}

.podcast-cover {
    width: 150px;
    height: 150px;
    margin: 10px;
}

.genre-grid {
  box-sizing: border-box;
  width: 100%;
  max-width: 720px;
  margin: auto;
  padding: 8px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
}

.user-info {
  display: flex;
  flex-direction: row-reverse;
  justify-content: right;
  align-items: center;
}

.Home h2 {
  text-align: left;
  box-sizing: border-box;
  padding: 0 8px;
  margin-bottom: 4px;
  font-size: 1.75rem;
}
.Home h3 {
  
  text-align: left;
  box-sizing: border-box;
  padding: 0 8px;
  font-size: 1.1rem;
}