/* the list of genres, etc you can listen to. Should be its own scroller so swipe up to player works. */
.Home {
  color: white;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overscroll-behavior: contain;
  scroll-snap-align: center;
  z-index: -1;
}

/* Provides scrolling between home and player */
.Home-wrapper {

  scroll-snap-type: y mandatory;
}

.user-info {
  text-align: right;
}

.profile-photo {
  width: 20px;
  height: 20px;
  float:right;
  padding: 0px 20px;
}