.Signin {
    text-align: center;
    padding: 200px 0;
    color: white;
}

.button {
    background-color: white;
    color: black;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 50px;
    font-size: 20px;
}

.title {
    padding: 50px;
    font-size: 50px;
}

.signin-text {
    font-size: 20px;
}