.mediaplayer {
  position: relative;
  height: 100vh;
  margin-top: -80px;
  scroll-snap-align: start;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;

  overflow: hidden;

  color: white;

  z-index: 1;
}

.mediaplayer-bg {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100%;
  transform: translate(-50%, -50%);
  height: 150vh;

  filter: blur(64px) brightness(0.5);
  z-index: -1;
}

.mediaplayer header {
  position: relative;
  height: 80px;
  box-sizing: border-box;
  padding: 8px;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  z-index: 2;
}

.mediaplayer-header--img {
  height: 100%;
  border-radius: 8px;
}

.mediaplayer-header--about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
}

.mediaplayer-header--about h1 {
  font-size: 16px;
  margin: 2px;
}
.mediaplayer-header--about h2 {
  font-size: 12px;
  opacity: 0.5;
  margin: 2px;
}

.mediaplayer-header--controls {
  position: absolute;
  right: 8px;
}

.mediaplayer-large {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 40vw);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  box-sizing: border-box;
  flex-direction: column;
}

.mediaplayer-large--img {
  width: 100%;
  border-radius: 32px;
}

.mediaplayer-large h1, .mediaplayer-large h2 {
  margin: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.mediaplayer-large h1 {
  font-size: 64px;
}

.mediaplayer-large h2 {
  font-size: 48px;
  opacity: 0.5;
}

.mediaplayer-large--controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40vw;
  box-sizing: border-box;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: middle;
}
.mediaplayer-large--control {
  height: 100%;
}